# API Keys
# OPENAI_API_KEY=tu-openai-api-key

# https://www.tavily.com/
# es para navegar y hacer consultas en internet
TAVILY_API_KEY="..."

# https://www.virustotal.com/gui/sign-in
# para analizar urls, archivos, etc.
VIRUSTOTAL_API_KEY="..."

#gmail configuration
# En Windows usar / en rutas; \a en \agentes se interpreta como carácter especial (0x07)
GOOGLE_APPLICATION_CREDENTIALS="C:/LAUTARO/LANGCHAIN/curso_langchain/tema_6/agentes/credential-agentes.json"
GMAIL_TOKEN="C:/LAUTARO/LANGCHAIN/curso_langchain/tema_6/agentes/token.json"

# SOC configuration
SOC_EMAIL_RECIPIENT="lautarodm.dev@gmail.com"
SOC_EMAIL_SENDER="lautarodm.dev@gmail.com" # mail desde donde se van a enviar los reportes (en produccion es un mail de la empresa)